---
import ContentSection from "~/components/dumb/content-section.astro";
import CompatibilityList from "~/components/dumb/compatibility-list.astro";

const frameworks = [
  {
    title: "React",
    icon: "frameworks/react",
    url: "https://reactjs.org/",
  },
  // {
  //   title: "Angular",
  //   icon: "frameworks/angular",
  //   url: "https://preactjs.com/",
  // },
  {
    title: "Vue",
    icon: "frameworks/vue",
    url: "https://vuejs.org/",
  },
];

const platforms = [
  {
    title: "GitHub",
    icon: "fa-brands:github",
    url: "https://pages.github.com/",
  }
];
---

<ContentSection title="Skills" id="skills">
  <Fragment slot="lead">
    Astro <span class="text-primary">plays nice</span>. Bring your own UI{" "}
    <span class="text-primary">framework</span>
    and deploy to your favorite <span class="text-primary">platform</span>.
  </Fragment>
  <CompatibilityList
    title="Frameworks"
    data={frameworks}
    url="https://docs.astro.build/core-concepts/framework-components/"
  />
  <CompatibilityList
    title="Platforms"
    data={platforms}
    url="https://docs.astro.build/guides/deploy/"
  />
</ContentSection>
