---
import { Icon } from "astro-icon";

const links = [
  {
    url: "https://wa.me/+919020709002",
    description: "Sudeep via WhatsApp",
    icon: "fa-brands:whatsapp",
  },
  {
    url: "mailto:sudeepg95@gmail.com",
    description: "Sudeep via Email",
    icon: "fa-solid:envelope",
  },
  {
    url: "https://github.com/sudeepg95",
    description: "Sudeep on GitHub",
    icon: "fa-brands:github-alt",
  },
  {
    url: "https://linkedin.com/in/sudeepg95",
    description: "Sudeep on LinkedIn",
    icon: "fa-brands:linkedin",
  },
];
---

<footer class="relative flex items-center justify-center h-64 z-10">
  <ul class="relative grid grid-cols-2 gap-4 sm:grid-cols-4">
    {
      links.map((link) => (
        <li>
          <a
            class="flex items-center justify-center w-16 h-16 p-4 border-2 border-current rounded-full"
            href={link.url}
            target="_blank"
          >
            <span class="sr-only">{link.description}</span>
            <Icon class="h-full" name={link.icon} />
          </a>
        </li>
      ))
    }
  </ul>
</footer>
