---
import { Icon } from "astro-icon";
import ContentSection from "~/components/dumb/content-section.astro";
---

<ContentSection title="Summary" id="intro">
  <Fragment slot="lead">
    A <span class="text-primary">generalist</span> engineer with a passion to solve problems, currently focused on <span class="text-primary">Web Development</span>, Machine learning & Product building for the <span class="text-primary">7<span class="super">th </span></span>year of his career in Software development.
  </Fragment>
</ContentSection>
