---
import AdaptiveGraphics from "~/components/adaptive-graphics.astro";
import { userProfile } from "~/lib/user-profile-manager";

const personalInfo = userProfile.getPersonalInfo();
---

<section class="relative h-full splash-section transition-all duration-500">
  <AdaptiveGraphics />
  <div class="relative grid h-full sm:justify-center place-items-center">
    <h2
      class="flex flex-col self-center gap-2 sm:gap-4 select-none"
    >
      <div
        class="font-extrabold tracking-tighter text-center text-9xl gradient-text"
      >
        {personalInfo.name}
      </div>
      <div
      class="font-extrabold tracking-tighter text-center text-xl gradient-text"
    >
      {personalInfo.title}
      <br /> {personalInfo.location.displayName}
    </div>
    </h2>
  </div>
</section>
