---
import AdaptiveGraphics from "./adaptive-graphics.astro";
---

<section class="relative h-full splash-section transition-all duration-500">
  <AdaptiveGraphics />
  <div class="relative grid h-full sm:justify-center place-items-center">
    <h2
      class="flex flex-col self-center gap-2 sm:gap-4 select-none"
    >
      <div
        class="font-extrabold tracking-tighter text-center text-9xl gradient-text"
      >
        Sudeep G
      </div>
      <div
      class="font-extrabold tracking-tighter text-center text-xl gradient-text"
    >
      Lead Software Engineer
      <br /> Bengaluru, India.
    </div>
    </h2>
  </div>
</section>
