---
import { Icon } from "astro-icon/components";
const { title, data } = Astro.props;
---

<div class="w-full max-w-6xl space-y-2">
  <div class="compatibility-card relative px-6 pt-8 pb-4 border border-default">
    <h3
      class="absolute top-0 px-4 py-1 text-xs tracking-tight uppercase -translate-y-1/2 border border-current rounded-full right-4 bg-default select-none"
    >
      {title}
    </h3>
    <ul class="grid grid-cols-2 gap-8 sm:grid-cols-3 md:grid-cols-6">
      {
        data.map(({ title, icon, url }) => (
          <li>
            <a class="flex flex-col items-center gap-2" href={url} target="_blank">
              <Icon name={icon} size={48} />
              <span class="select-none">{title}</span>
            </a>
          </li>
        ))
      }
    </ul>
  </div>
  <p class="text-sm text-right select-none">...and more</p>
</div>

<style>
  [data-theme="light"] .compatibility-card {
    @apply bg-offset;
  }
</style>
